@import '../../vars';

.hero {
    border: 2px solid transparent;
    width: $cardwidth+4vw;
    padding: 0 1vw 1vh 1vw;
    margin: 1vh auto;
    border-radius: 20px;
    background: linear-gradient($bg, $bg) padding-box,
    linear-gradient(to right, $accent1, $accent2) border-box;
}

.image {
    margin: 2vw auto 0 auto;
    width: $cardwidth - 2vw;
    border-radius: 1rem;
    flex-shrink: 0;
}
.description {
    height: 18vh;
}
.text {
    width: $cardwidth;
}