$bg: rgb(1, 2, 9);
$text: rgb(201, 200, 199);
$accent2: rgb(240, 235, 230);
$accent1: rgb(60, 41, 69);
$rated: #8a0f69;
$font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
